{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block title %}Hello CartController!{% endblock %}


{% block header %}Your cart, {{ cart.user }}{% endblock %}
{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Price</th>
            <th scope="col">Number</th>
            <th scope="col">Sum</th>
            <th scope="col"></th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>

        {% for orderRow in orderRows %}
            <tr>
                <th scope="col">{{ orderRow.dish }}</th>
                <td>{{ orderRow.dish.price }}</td>
                <td>{{ orderRow.quantity }}</td>
                <td>{{ orderRow.dish.price * orderRow.quantity }}</td>
                <td>
    </td>
                <td><a type="submit" class="btn btn-danger" href="{{ path('orderRowDelete', { id: orderRow.id }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <h4>Total price: {{ totalSum }}</h4>
    <a type="submit" class="btn btn-warning" href="{{ path('order', { id: cart.id }) }}">Order</a>

{% endblock %}
