<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categoryMenu', { id: category.id }) }}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
        <form class="form-inline my-2 my-lg-0">

            {% if is_granted('ROLE_USER') or  is_granted('ROLE_ADMIN') %}
                <a class="nav-link" href="{{ path('showCart', { id: user.id }) }}">Cart</a>
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Log out</a>
            {% else %}
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Log in</a>
                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
            {% endif %}
        </form>
    </div>
</nav>

