{% extends 'base.html.twig' %}

{% block title %}{{ category }} Menu{% endblock %}
{% block header %}Delicious Menu{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-7">
            <p class="lead">{{ category }} menu ✅</p>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <div class="tab-content text-left">
            <div class="tab-pane fade show active" id="pills-breakfast" role="tabpanel"
                 aria-labelledby="pills-breakfast-tab">

                {% for dish in dishes %}
                    <div class="media menu-item">
                        <img class="mr-3" src="{{ vich_uploader_asset(dish, 'imageFile') }}" style="width: 100px; height: 100px" class="img-fluid" alt="where?">
                        <div class="media-body">
                            <a href="{{ path('showDish', {id: dish.id}) }}"><h5 class="mt-0">{{ dish.name }}</h5></a>
                            <p>{{ dish.description }}</p>
                            <h6 class="text-primary menu-price">{{ dish.price }} $</h6>
                        </div>
                        <p class="mb-0"><a href="{{ path('showDish', {id: dish.id}) }}"
                                           class="btn btn-primary btn-sm">More</a></p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/dish_show.js') }}"></script>
{% endblock %}