{% extends 'base.html.twig' %}

{% block title %}{{ category }} Menu{% endblock %}

{% block body %}
        <h1>{{category}} Menu ✅</h1>
        <ul>
            {% for dish in dishes %}

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ dish.name }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ dish.price }}</h6>
                        <p class="card-text">{{dish.imageFile}}</p>
                        <img style="height: 100px; width: 100px" src="{{ vich_uploader_asset(dish, 'imageFile') }}" alt="your favorite meal">
                        <a href="{{ path('addToCart', { id: dish.id }) }}" class="card-link">Add</a>
                    </div>
                </div>
            {% endfor %}
        </ul>



{% endblock %}