{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="{{ asset('style/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('style/css/open-iconic-bootstrap.min.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('style/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('style/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('style/css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ asset('style/css/magnific-popup.css') }}">

        <link rel="stylesheet" href="{{ asset('style/css/bootstrap-datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('style/css/jquery.timepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('style/css/icomoon.css') }}">
        <link rel="stylesheet" href="{{ asset('style/css/style.css') }}">
        <title>{% block title %}Base!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {{ render(controller(
        'App\\Controller\\NavbarController::navbarShow'
    )) }}

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
