{% extends 'base.html.twig' %}

{% block title %}Orders list{% endblock %}
{% block header %}All your reservations, {{ user }}.{% endblock %}
{% block body %}
    <h3>Orders waiting to be payed: </h3>


    {% for order in notPayedOrders %}



        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">

                <h5 class="mb-1">Table number {{ order.reservedTable.id }}</h5>

                <small class="text-muted">{{ order.time|date("m/d/Y h:m") }}</small>
                <table class="table table-hover">
                    <tbody>
            {% for row in order.cart.orderRows %}
                <tr>
                    <th scope="col">{{ row.dish }}</th>
                    <td>{{ row.dish.price }}</td>
                    <td>{{ row.quantity }}</td>
                    <td>{{ row.dish.price*row.quantity }}</td>
                </tr>
            {% endfor %}
                    </tbody>
                </table>
            </div>
        </a>
        <h4>Total price: </h4>
        <a type="submit" class="btn btn-warning" href="{{ path('pay', { id: user.id }) }}">Pay</a>
    {% else %}
        <h3>No order found</h3>
        {% endfor %}

    {#<h4>Total price: {{ totalSum }}</h4>#}



{% endblock %}